div {
    height: 400px;
}


#Database {
    background-color: blue;
}

#iOS {
    background-color: red;
}

#Android {
    background-color: yellow;
}

#Cloud {
    background-color: green;
}

#GIS {
    background-color: teal;
}

#Web {
    background-color: orange;
}
#Certified {
    background-color: black;
}