body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    height: 400px;
}

p {
    margin: 10px;
}
h1 {
    border: gray;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin: 10px
}

#Database {
    background-color: white;
}

#iOS {
    background-color: antiquewhite;
}

#Android {
    background-color: white;
}

#Cloud {
    background-color: antiquewhite;
}

#GIS {
    background-color: white;
}

#Web {
    background-color: antiquewhite;
}
#Certified {
    background-color: white;
}