@media all and (max-width: 660px) {
    .projectShowcase {
        width: 100%;
    }
    .projectPic img {
        width: 80%;
        height: auto;
    }
    .nametag {
        width: 100%;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
    header {
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }
    .nametag h1 {
        display: none;
    }
    .nametag h3 {
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
    .logo img {
        width: 100px;
        height: auto;
        padding: 0px;
        margin: 0px;
    }
    .featured {
        text-align: center;
    }
    .socialMedia {
        justify-content: center;
        float: none;
    }
}

@media all and (min-width: 1200px) {
    body {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .projectPic img {
        width: 350px;
        height: auto;
        transition: left 5.5s;
    }
}