h1 {
    color: black;
}
hr {
    border-width: 1px;
}
header {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
}

.logo {
    padding: 5px;
}
.nametag {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    padding: 5px;
}

.projectShowcase {
    text-align: center;
}

.hero {
    width: 100%;
   height: 150px;
    background-repeat: no-repeat;
    background-image: url('http://via.placeholder.com/500x400');
}