body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: black;
}

hr {
    border-width: 1px;
    color: #02b3e4;
}

header {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    padding: 5px;
}

.nametag {
    text-align: right;
    padding: 5px;
}

.projectShowcase {
    text-align: center;
    width: 33%;
    background-color: white;
}

.featured {
    font-size: 2em;
    color: #7d97ad;
    padding-top: 5px;
    padding-bottom: 15px;
}

.hero {
    background-size: cover;
    height: 350px;
    background-repeat: no-repeat;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/cc/Sugarfoot_on_Drums.jpg');
}

.projectName {
    font-size: 1.6em;
    text-transform: uppercase;
}